@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-msg {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 950px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-msg ul {
    list-style: none;
}

.card-msg a {
    text-decoration: none;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#saveUsername {
    margin-bottom: 0;
}

/* aligns the form content to center */
.wwFormTable {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wwFormTable tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wwFormTable tr {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

/* selects the last tr in a row */
.wwFormTable tr:last-child {
    margin-bottom: 0;
}

.wwFormTable td {
    width: 100%;
    padding: 0 !important;
    display: flex;
    color: white;
}

.wwFormTable .tdLabel {
    width: auto;
}

.label {
    color: white;
}

.wwFormTable td label {
    padding: 0;
    margin: 0 8px 0 0;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
}

/* selects all inputs but ones which have type=submit attribute */
.wwFormTable input:not([type="submit"]) {
    width: 100%;
}

.formButton {
    display: flex;
    width: 100%;
}

.card-msg-field form {
    margin-bottom: 0;
    display: flex;
    width: 100%;
}

.card-msg-field tbody, .card-msg-field table {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: unset;
}

.card-msg-field tr {
    width: 100%;
    margin-bottom: 0;
}

.card-msg-field tr:last-child {
    width: fit-content;
    flex-shrink: 1;
}

.card-msg-field td {
    display: flex;
    justify-content: flex-end;
}

.card-msg-field .tdLabel {
    display: none;
}

.card-msg-field .formButton {
    width: fit-content;
    align-self: flex-end;
}

.card-chat-field {
    height: 500px;
    /*overflow-y: scroll;*/
}

